# Gerenciado pelo Ansible
http:
  routers:
    openwebui:
      rule: "Host(`{{ domain }}`)"
      service: openwebui
      entryPoints: [websecure]
      tls: true
      middlewares: [secure-headers]
    ollama:
      rule: "Host(`ollama.{{ domain.split('.', 1)[1] }}`)"
      service: ollama
      entryPoints: [websecure]
      tls: true
      middlewares: [secure-headers]

  services:
    openwebui:
      loadBalancer:
        servers:
          - url: "http://192.168.15.51:3000"
    ollama:
      loadBalancer:
        servers:
          - url: "https://192.168.15.50:11434"

  middlewares:
    secure-headers:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        contentTypeNosniff: true
        browserXssFilter: true
        frameDeny: true
